@mixin medium {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin extraLarge {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin flexbox($direction: row, $justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}

@mixin backgroundImg($repeat: no-repeat, $size: cover, $position: top center) {
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}
