$white: white;
$filterColor: rgba(0, 0, 0, 0.2);
$filterColorTimeline: rgba(2, 2, 2, 0.68);

$Cinzel: "Cinzel";
$CinzelDecorative: "Cinzel Decorative";
$CinzelSemiBold: "Cinzel semiBold";
$Roboto: "Roboto", sans-serif;
$RobotoThin: "RobotoThin", sans-serif;
$Avenir: "Avenir", sans-serif;
