//ICI DÉCLARATIONS DES @fontface...

//MONTSERRAT//

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Montserrat'), url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'), url('/assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Montserrat'), url('/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/assets/fonts/Montserrat-SemiBold.woff') format('woff');
}