@font-face {
    font-family: "Domestic Manners";
    src: url(Domestic_Manners.ttf);
  }  @font-face {
    font-family: "Athene";
    src: url(Athene.otf);
  }
  @font-face {
    font-family: "Over Obsessed Girlfriend";
    src: url(OverObsessedGirlfriend.ttf);
  }
  @font-face {
    font-family: "The Defiler";
    src: url(TheDefiler.ttf);
  }
        