@font-face {
    font-family: 'Ebrima';
    src: url('./fonts/ebrima.ttf');
}

@font-face {
    font-family: 'EbrimaBold';
    src: url('./fonts/ebrimabd.ttf');
}

@font-face {
    font-family: 'MetropolisBold';
    src: url('./fonts/Metropolis/Metropolis-Bold.otf');
}

@font-face {
    font-family: 'Metropolis';
    src: url('./fonts/Metropolis/Metropolis-Regular.otf');
}

@font-face {
    font-family: 'MetropolisLight';
    src: url('./fonts/Metropolis/Metropolis-Light.otf');
}