.secondPage {
	@include background(url(../img/HomePage.jpg));

	.information {
		@include size(90vh, 100vw);
		@include flexcenter(space-evenly, center, column);
		@include phone {
			padding-top: 10px;
		}
		&__secondTitle {
			@include size(100%, 70vw);
			max-width: 800px;
			@include title(abel, normal, none, 48px, $white, 1.5);
			@include phone {
				max-width: 70vw;
				@include title(abel, normal, none, 24px, $white, 1.5);
			}
		}
		.btn-scroll {
			h2 {
				@include title(abel, normal, none, 18px, $white, 1.5);
			}
		}
	}
}
.secondPageBackground {
	@include size(100%, 100%);
	@include backgroundGradient;
	@include flexcenter(center, center, column);
	position: relative;
	text-align: center;
	.bubble {
		@include size(100%, 100vw);
		@include flexcenter(space-evenly, center, row);
	}
	button {
		background-color: rgba(0, 0, 0, 0);
		padding: 10px;
		border: none;
	}
	.scaner {
		//64px
		@include title(abel, normal, none, 48px, $white, 1.5);
	}
	.secondPage-title {
		//36px
		@include title(abel, normal, none, 36px, $white, 1.5);
	}
	p {
		//18px
		@include title(abel, normal, none, 18px, $white, 1.5);
		max-width: 800px;
	}

	.o-h-f {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
			img {
				@include size(500px, 50%);
			}
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
	.three-h {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
	.five-h {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
	.one-t {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
	.two-t {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
	.three-t {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
	.four-t {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
			img {
				@include size(100%, 100%);
			}
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
	.five-t {
		border-right: snow 5px solid;
		@include size(200vh, 90vw);
		@include flexcenter(space-between, center, column);
		.bubble {
			@include size(100%, 100vw);
			@include flexcenter(space-evenly, center, row);
		}
		div {
			@include flexcenter(center, center, column);
		}
	}
}
.scan {
	@include size(100%, 200px);
	animation: pulse 5s infinite;
	@keyframes pulse {
		0% {
			transform: scale(0.5);
		}

		50% {
			transform: scale(1.2);
		}

		100% {
			transform: scale(0.5);
		}
	}
}
@keyframes bubble {
	0% {
	}
}
