@font-face {
	font-family: 'aileronsregular';
	src: url('../font/ailerons-typeface1-webfont.woff2') format('woff2'),
		url('../font/ailerons-typeface1-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
