@font-face {
  font-family: "CinzelDecorative regular";
  font-style: normal;
  font-weight: normal;
  src: local("CinzelDecorative regular"),
    url("/assets/fonts/CinzelDecorative-Regular.ttf") format("tff");
}
